body {
	background: rgba(0, 0, 0, 0.7)
}

* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

/* *::-webkit-scrollbar {display: none; Chrome, Safari, Opera} */

a {
	color: #000;
}

.top_group {
	background-color: #edeae4;
	width: 375px;
	height: 50px;
	margin: 0 auto;
	margin-top: 50px;
}

.home {
	width: 375px;
	height: 727px;
	margin: 0 auto;
	background-color: #edeae4;
	position: relative;
	overflow: hidden;
}

.top_bar {
	padding: 15px;
	display: flex;
	justify-content: space-between;
}

.phone_info ul {
	display: flex;
}

.phone_info ul li {
	margin: 0 2px;
}

.header {
	padding: 15px;
	height: 30px;
	position: relative;
}

.header h2 {
	text-align: center;
	font-size: 18px;
}

.header .profil {
	position: absolute;
	left: 15px;
	top: 10px;
}

.header .search {
	position: absolute;
	right: 15px;
	top: 15px;
}

.header .search .find {
	margin-left: 10px;
}

.account_box {
	width: 275px;
	height: 155px;
	background: #fff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
	border-radius: 10px;
	margin: 33px auto;
	text-align: center;
	position: relative;
}

.account_box span {
	display: block;
	padding-top: 14px;
	color: #858585;
	font-size: 14px;
}

.account_box span.result {
	margin-top: -5px;
}

.account_box p {
	font-size: 24px;
	margin: 16px 0;
}

.account_box p i {
	font-style: normal;
	font-size: 14px;
}

.account_box .cht {
	position: absolute;
	right: 15px;
	bottom: 35px;
}

.account_box .trs {
	position: absolute;
	right: 15px;
	top: 15px;
}

h3 {
	font-size: 14px;
	text-align: center;
}

h3 a {
	text-decoration: underline;
}


.moneyRange {
	border: 1px solid red;
	background-color: #FF5F00;
	height: 5px;
	width: 70%;
	margin: 0 auto;
	position: relative;
	border-radius: 10px;
}

.moneyRange .step_bar {
	position: absolute;
	width: 5px;
	;
	height: 10px;
	left: 50%;
	top: -8px;
	transform: translate(-50%);
	background: green;
	border-radius: 10px;
}


footer {
	width: 375px;
	height: 76px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);

	background: #6db3f2;
	background: -moz-linear-gradient(top, #6db3f2 0%, #54a3ee 35%, #1e69de 100%);
	background: -webkit-linear-gradient(top, #6db3f2 0%, #54a3ee 35%, #1e69de 100%);
	background: linear-gradient(to bottom, #6db3f2 0%, #54a3ee 35%, #1e69de 100%);
}

footer nav {
	margin-top: 25px;
}

footer nav ul {
	display: flex;
	justify-content: space-around;
}

.account_content {
	width: 375px;
	height: 637px;
	border-radius: 20px;
	background: #fff;
	position: absolute;
	top: 328px;
	transition: 0.5s;
}

.account_content.up_active {
	position: absolute;
	top: 77px;
}

.account_content .upbtn {
	text-align: center;
	display: block;
}

.account_content .pig_bank {
	width: 314px;
	height: 60px;
	margin: 0 auto;
	overflow-x: scroll;
}

.account_content .pig_bank::-webkit-scrollbar {
	display: none;
}

.account_content .pig_bank ul {
	justify-content: space-between;
	width: 1000px;
	height: 55px;
}

.account_content .pig_bank ul li {
	width: 150px;
	height: 55px;
	background: #dadada;
	float: left;
	margin: 0 10px;
	border-radius: 5px;
	overflow: hidden;
}

.account_content .pig_bank ul li:first-child {
	margin: 0;
}

.account_content .expenses {
	padding: 15px 30px;
	height: 500px;
	overflow-y: scroll;
}

.account_content .expenses::-webkit-scrollbar {
	display: none;
}

.account_content .expenses .expenses_cont {
	margin-top: 10px
}

.account_content .expenses .expenses_cont .list .accountBox {
	padding: 16px 0;
	overflow: hidden;
}

.account_content .expenses .expenses_cont .plusPrice {
	float: right;
}

.account_content .expenses .expenses_cont li {
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
	font-size: 18px;
	border-bottom: 1px solid #DCDCDC;
}

.account_content ul li {
	position: relative;
}

.account_content .color_gauge {
	width: 70%;
	height: 100%;
	background-color: orange;
}

.account_content .color_gauge.gauge2 {
	background: yellow;
}

.account_content .color_gauge.gauge2 .pig_text {
	color: #000
}

.account_content .color_gauge.gauge3 {
	background: skyblue;
	width: 77%;
}

.account_content .color_gauge.gauge3 .pig_text {
	color: #000
}

.account_content .pig_text {
	color: #fff;
	position: absolute;
	left: 10px;
	top: 8px;
}

.account_content .pig_text span {
	display: block;
	font-size: 14px;
}

.account_content .pig_text i {
	font-style: normal;
	font-size: 14px;
}


.swiper {
	width: 375px;
	height: 727px;
}

/* 차트페이지 */

.cht_page {
	width: 375px;
	height: 727px;
	background: #fff;
	position: absolute;
	left: 50%;
	bottom: -150%;
	transform: translate(-50%, -50%);
	z-index: 9999;
	transition: 0.5s;
}

.cht_cont {
	padding: 20px;
	padding-top: 20px;
}

.cht_page.up {
	width: 375px;
	height: 727px;
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	bottom: -50%;
	overflow-y: scroll;
}

.cht_page.up::-webkit-scrollbar {
	display: none;
}

.cht_page .cht_close {
	position: absolute;
	right: 15px;
	top: 15px;
}

.base_amount {
	display: flex;
	justify-content: space-between;
	margin: 30px 0;
	font-weight: bold;
}

.base_amount span {
	font-size: 24px;
	font-weight: normal;
	color: #FF5F00;
}

.cht_cont input {
	width: 100%;
	margin: 0 auto;
	display: block;
}


/* 그래프1 */

.chart_wrap {
	overflow-x: scroll;
}

.chart_wrap h3 {
	text-align: left;
	font-size: 18px;
	margin-top: 30px;
}

.chart_wrap::-webkit-scrollbar {
	display: none;
}

/* 이체페이지 */

.transpg {
	width: 375px;
	height: 727px;
	background: #fff;
	position: absolute;
	left: 50%;
	bottom: -150%;
	transform: translate(-50%, -50%);
	z-index: 9999;
	transition: 0.5s;
}

.transpg.up {
	width: 375px;
	height: 727px;
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	bottom: -50%;
	overflow-y: scroll;
}

.transpg.up::-webkit-scrollbar {
	display: none;
}

.transpg .inner {
	padding: 15px;
}

.transpg .close {
	position: absolute;
	right: 15px;
	top: 15px;
}

.transpg h2 {
	margin: 30px 0;
}

.transpg .direct_bt_1 {
	border: 1px solid #000;
	display: block;
	padding: 15px;
	text-align: center;
	border-radius: 10px
}

.transpg .inner ul {
	margin-top: 50px;
}

.transpg .inner li a {
	display: block;
	overflow: hidden;
	margin: 20px 0 20px 0;
	position: relative;
}

.transpg .inner li a .prof {
	float: left;
	margin-right: 15px;
}

.transpg .inner p {
	margin-top: 5px;
}

.transpg .inner i {
	display: block;
	font-style: normal;
	font-size: 18px;
}

.transpg .inner em {
	display: block;
	font-style: normal;
	font-size: 16px;
}

.transpg .inner .bookmk {
	position: absolute;
	right: 0;
	top: 15px;
}

/* 이체넘버입력 페이지 */
.transNumberpg {
	width: 375px;
	height: 727px;
	background: #fff;
	position: absolute;
	left: 50%;
	bottom: -150%;
	transform: translate(-50%, -50%);
	z-index: 9999;
	transition: 0.5s;
}

.transNumberpg.up {
	width: 375px;
	height: 727px;
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	bottom: -50%;
	overflow-y: scroll;
}

.transNumberpg.up::-webkit-scrollbar {
	display: none;
}

.transNumberpg .inner {
	padding: 15px;
}

.transNumberpg .close {
	position: absolute;
	right: 15px;
	top: 15px;
}

.transNumberpg h2 {
	margin: 30px 0;
}

.trsPro {
	overflow: hidden;
	margin: 20px 0 20px 0;
	position: relative;
}

.trsPro .prof {
	float: left;
	margin-right: 15px;
}

.trsPro p {
	margin-top: 5px;
}

.trsPro i {
	display: block;
	font-style: normal;
	font-size: 18px;
}

.trsPro em {
	display: block;
	font-style: normal;
	font-size: 16px;
}

.transNumberpg span {
	width: 100%;
	border: none;
	display: block;
	border-bottom: 1px solid red;
	outline: none;
	text-align: right;
	;
	padding: 10px 0;
}

.transNumberpg span .numberInput {
	display: inline-block;
	font-size: 36px
}

.transNumberpg span i {
	display: inline-block;
	font-style: normal;
	padding-right: 15px;
	font-size: 24px
}

.transNumberpg .living_ex {
	text-align: center;
	padding: 20px 0;
}

.transNumberpg .numBtn {
	overflow: hidden;
}

.transNumberpg .numBtn ul li {
	cursor: pointer;
	width: 33.33%;
	float: left;
	box-sizing: border-box;
	height: 100px;
	text-align: center;
	line-height: 100px;
	font-size: 35px;
	font-weight: bold;
	color: #858585;
}

.transNumberpg a.next {
	text-align: center;
	padding: 15px 0;
	background-color: #FF5F00;
	color: #fff;
	display: block;
}


.trsComple {
	width: 375px;
	height: 727px;
	background: #fff;
	position: absolute;
	left: 50%;
	bottom: -150%;
	transform: translate(-50%, -50%);
	z-index: 9999;
	transition: 0.5s;
}

.trsComple.up {
	width: 375px;
	height: 727px;
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	bottom: -50%;
	overflow-y: scroll;
}

.trsComple.up::-webkit-scrollbar {
	display: none;
}

.trsComple .inner {
	padding: 15px;
}

.trsComple .close {
	position: absolute;
	right: 15px;
	top: 15px;
}

.trsComple h2 {
	margin: 30px 0;
}

.trsComple p {
	font-size: 37px;
	margin: 154px 0 0 30px;
}